#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.no-tw {
  all: unset;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
